.data{
  text-align: center;
}

.container{
  width:800px;
}

.submit{
  width: 200px;
}

.mainContainer{
  width:75%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.navLink{
  text-decoration: none;
  color: rgb(95, 89, 89);
  margin-right: 15px;
}
